/* #container-alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-principal {
  width: 800px; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center; 
  margin-top: 30px;
  gap: 3px;
  background-color: #fff;
}

.image-blocks {
  height: 300px;
  width: calc(
    (100% / 3) - 20px
  ); 
}

.image-blocks img {
  object-fit: cover;
  height: 100%;
  width: 100%;
} */

#container-alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-principal {
  width: 800px; /* Largura do contêiner principal */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte */
  justify-content: center; /* Ajusta o espaçamento entre os itens */
  margin-top: 30px;
  gap: 3px; /* Espaço entre as imagens */
  background-color: #fff;
}

.image-blocks {
  position: relative; /* Necessário para posicionar a sobreposição corretamente */
  height: 300px;
  width: calc(
    (100% / 3) - 20px
  ); /* Ajusta a largura para 3 imagens por linha, considerando o gap */
  overflow: hidden; /* Garante que a sobreposição não ultrapasse os limites da imagem */
}

.image-blocks img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block; /* Remove o espaçamento abaixo da imagem */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Cor de fundo preta com 70% de opacidade */
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-blocks:hover .image-overlay {
  opacity: 0.9; /* Mais transparente no hover */
}

.image-overlay i {
  color: #fff;
  pointer-events: none; /* Evita que o ícone interfira na interação */
  background: none;
}
