* {
  margin: 0px;
  padding: 0px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed; /* Fixa a sidebar em relação ao viewport */
  top: 0; /* Fica no topo */
  left: 0; /* Fica no lado esquerdo */
  width: 250px; /* Largura da sidebar */
  height: 100vh; /* Altura da sidebar igual à altura do viewport */
  color: #000; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
  background-color: #fff;
  z-index: 1000; /* Garante que a sidebar fique acima de outros elementos */
}

.sugestions {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  color: #000;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1210px) {
  .sugestions {
    display: none;
  }

  .sidebar {
    display: none;
    width: 0px; /* Largura da sidebar */
    height: 0px;
    z-index: 0;
  }
}

.logo {
  color: #000;
  font-size: 12px;
  padding: 20px;
  font-family: "roboto", sans-serif;
}

/* Estilo dos links da sidebar */
.sidebar ul {
  list-style: none; /* Remove os marcadores da lista */ /* Remove o preenchimento da lista */
  padding-top: 10px; /* Remove o preenchimento da lista */
}

.sidebar ul li {
  margin-bottom: 10px;
  padding: 20px; /* Espaçamento entre itens da lista */
}

.sidebar a {
  text-decoration: none;
  color: #000;
}

.pd {
  padding-top: 10px;
  padding-bottom: 20px;
}

.list-item {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.img-profile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #ce7d26 0%,
    #ee602c 25%,
    #dc2743 50%,
    #df1f6b 75%,
    #e60aa0 100%
  );
}

.align {
  align-items: center;
}

.sugest-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-sugestions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.min-follow {
  padding: 5px 20px;
  font-size: 12px;
  color: #059ec4;
  cursor: pointer;
}

.developer {
  color: rgb(151, 151, 151);
  font-size: 12px;
  padding-top: 50px;
}

.developer a {
  text-decoration: none;
  color: rgb(151, 151, 151);
  font-weight: bold;
}

.on-light {
  background-color: #000;
  color: #fff;
}
