#story-barra {
  display: flex;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
}

.story-bar {
  display: flex;
  gap: 10px;
}

.story {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 5px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.story::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid;
  border-top-color: #fe045e;
  border-right-color: #fe223d;
  border-bottom-color: #c703cf;
  border-left-color: #8f23f5;
  box-sizing: border-box;
  animation: rotateBorder 5s ease;
  z-index: 0;
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

.story-container ul {
  list-style-type: none;
  user-select: none;
  display: flex;
  overflow-y: auto;
}

.story-container ul li {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-container ul li:first-child {
  padding-left: 20px;
}

.story-container ul li:last-child {
  padding-right: 20px;
}

.story-container ul li .story {
  width: 66px;
  height: 66px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.75);
  padding: 1px;
  position: relative;
}

.story-container ul li .story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 4px; 
  box-sizing: border-box; 
  position: relative;
  z-index: 1; 
  background: #fff; 
}

.story-container ul li.has-story .story {
  padding: 2px;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.story-container ul li span {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 300;
  font-size: 15px;
  max-width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent; 
  backdrop-filter: blur(8px); 
  border-top-color: #f09433;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background-clip: content-box; 
  box-sizing: border-box;
  animation: rotateBorder 5s ease;
  z-index: 0; 
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
